.country{
    align-items: center;
    text-align: center;

}
.card_country{
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
}
.name_country{
    margin-top: 48px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    text-align: center;

}
.fifth_card_buttons{
    padding: 18px 18.5px ;
    color: #FFF;
    margin-top: 32px;
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px;
    background-color:#E7816B;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.fifth_card_buttons:hover{
    background-color: #E7816B;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}