.hero{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    color: #FFF;
}

.bg_img{
    background-image:url(../../static/images/about-us-bcg.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 95px;
    gap: 32px;

    p{
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
}
.five_title_{
    font-family: 'Jost';
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    color: #E7816B;
}
.five_title_first{
    font-family: 'Jost';
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
}

.hero_pic{
    border-radius:  0px 10px 10px 0px;
}


.hero_{
   display: flex;
   margin-top: 160px;
   flex-direction: row-reverse;

}
.fifth_paragraph{
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    align-items:center;
    justify-content: center;
    margin-top: 35px;
}

.hero_pic_{
    border-radius:  10px 0px 0px 10px;
}
.bg_img_{
    background-image:url(../../static/images/2hero-bcg.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 650px;
    border-radius: 0px 10px 10px 0px;
    padding-left: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.seventh_section{
    display: flex;
    margin-top: 160px;
    flex-direction: row;
    .seventh_title{
        font-family: Jost;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
        color: #E7816B;
        align-items: center;
        justify-content: center;
    }
    .seventh_paragraph{
        font-family: Jost;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        justify-content: center;
    }
}
.bcg_image{
    background-image:url(../../static/images/3hero-bg.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 650px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 95px;
    gap: 24px;
}
.seventh_pic{
    border-radius: 0px 10px 10px 0px;
}

.location-section{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;

}

.map-tit{
    width: 730px;
    height: 326px;
    flex-shrink: 0;
    background-image: url(../../static/images/map-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-left: 95px;

    .map-contact{
        display: flex;
        gap: 30px;
    }

    h1{
        color: #E7816B;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 120% */
    }
    p{
        width: 255px;
        color: #333136;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        span{
            color: #333136;
            font-family: Jost;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 162.5% */
        }
    }

}

.location-section-row{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}





.contact_us{
    width: auto;
    height: 480px;
    flex-shrink: 0;
    background-image: url(../../static/images/contact-bg.png);
    display: flex;
    align-items: center;
    padding-left: 95px;
    margin-top: 64px;
    flex-wrap: wrap;
}

.contact-us__tit{
    display: flex;
    flex-direction: column;
    gap: 32px;
    h1{
        width: 540px;
        color: #FFF;
        font-family: Jost;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; 
    }
    p{
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; 
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
    input{
        background: transparent;
        width: 380px;
        height: 38px;
        flex-shrink: 0;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #ffffff
    }

    .input-massage{
        width: 380px;
        height: 102px;
        flex-shrink: 0;
    }
}

.submit-button{
    width: 152px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover{
        cursor: pointer;
        background-color: #bcc9d4;
        transition: all 0.3s ease;
    }
}

::placeholder {
    opacity: 0.5; 
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
  }

  .submit-button::placeholder{
    width: 380px;
    height: 102px;
    flex-shrink: 0;
  }
  