nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 196px;
        height: 24px;
    }
    }

    ul{
        display: flex;
        gap: 42px;
    }

    li{
            font-family: 'Jost';
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 14px;
            letter-spacing: 2px;
        a{
            text-decoration: none;
            color: #333136;
        }
        :hover{
            color: #000000;
            text-decoration: underline;
            transition: all 0.2s ease;
        }
    }

